<html>
<head>
<title>Upload and display image using Python Flask and insert to PostgreSQL</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />        
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<style type="text/css">
    body {

  color: white;

}
    img {display: block; margin-left: auto; margin-right: auto; height: 350 ; weight: 350;}
    p {font: bold;}
</style>
</head>
<!--     <div style="background-image: url_for('static',filename='images/1.jpg') "></div> -->
<body style="background-image: url('/static/images/1.jpg'); background-repeat: no-repeat ; background-size: cover;">

<div class="row">
<p><h1 align="center">Covid-19 Detection Based On Chest X-ray System</h1></p>

<div class="container" >   
    
    <div >
        <label >Patient Name</label>
        <form method="post" action="{{ url_for('upload_image')}}" enctype="multipart/form-data">
            <dl>
                <p>
                    <input type="text" name="name" class="form-control" autocomplete="off" required>
                </p>
            </dl>
        
    </div>
    <div>
        <dl>
            <p>
                <label >Age</label>
                <input type="text" name="age" id="age" class="form-control" required>
                
            </p>
        </dl>
    </div>
    <div>
        <dl> 
            <p>
                <label >City</label>
                <input type="text" name="city" id="city" class="form-control" required>
                              
            </p>
        </dl>
        
    </div>
    <div>
        <dl>
            <p>
                <label >State</label>
                <input type="text" name="state" id="state" class="form-control" required>
                
            </p>
        </dl>
    </div>
    <div>
        <dl>
            <p>
                <label >Pincode</label>
                <input type="text" name="pincode" id="pincode" class="form-control" required>
                
            </p>
        </dl>
        
    </div>
    <div>
        <dl>
            <p>
                <label >Mobile Number</label>
                <input type="text" name="mobile" maxlength="10" id="mobile" class="form-control" required>
                
            </p>
        </dl>
        
    </div>
    <div>
        <dl>
            <p>
                <label >Gender</label>
                <div class="form-control" id="gender">
                <label><input type="radio" name="gender" value="male" required> Male</label>
                <label><input type="radio" name="gender" value="female"> Female</label> 
                </div>
                
            </p>
        </dl>
        
    </div>

    <div>
        <dl>
            <p>
                <label >BloodGroup</label>
                <select name="bloodgroup" id="bloodgroup" class="form-control" required>
                <option>A Positive</option>
                <option>A Negative</option>
                <option>B Positive</option>
                <option>B Negative</option>
                <option>AB Positive</option>
                <option>AB Negative</option>
                <option>O Positive</option>
                <option>O Negative</option>
                <option>Unknown</option>
                </select>
            </p>
        </dl>
        
    </div>
    
    <h2 >Select a file to upload</h2>
    <div>
        <dl>
            <p>
                <input type="file" name="file" class="form-control" autocomplete="off" required>
            </p>
        </dl>
        <p align="center">
            <input type="submit" value="Submit" class="btn btn-primary btn-lg">
        </p>
        {% if filename %}

    
        <div>
            <img src="{{ url_for('display_image', filename=filename) }}" >
        </div>
        {% endif %}
    
        <br>
    <h2 align="center">The result is :</h2> 
    <br> <p align="center">{{ prediction_text }}</p> 
    <br> <p align="center"> {{ prob_text }}</p>
    <div>
    
    </form>
</div>
</div>
</body>
</html>
